<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57933833507-or8h9f4lkpl2tq07msusrhid1fv3jevh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57933833507-or8h9f4lkpl2tq07msusrhid1fv3jevh</string>
	<key>API_KEY</key>
	<string>AIzaSyAXIxuWRpV_ieu269OXw3hBH958lk0d-Z4</string>
	<key>GCM_SENDER_ID</key>
	<string>57933833507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.heliumChatApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>helium-chat-6d522</string>
	<key>STORAGE_BUCKET</key>
	<string>helium-chat-6d522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57933833507:ios:2f164913fef16c06d51896</string>
</dict>
</plist>